:local {
    .concluido {
        color: red;
    }

    .análise {
        color: blue;
    }

    .onibus {
        color: blue;
    }

    .ônibus {
        color: blue;
    }

    .filho_da_puta {
        color: green;
    }
}
